<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Julio Corpus</title>
  
  <!-- Estilos y fuentes del template  -->
  {% load static %}
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
<link rel="stylesheet" href=" {% static 'css/blog/blog.css' %} ">
</head>
<body>
  
  <div class="container">
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="{% url 'home' %}">Home</a>
        <a class="p-2 link-secondary" href="{% url 'about' %}">Acerca de</a>
        <a class="p-2 link-secondary" href="{% url 'contact' %}">Contacto</a>
        <a class="p-2 link-secondary" href="{% url 'portafolio' %}">Portafolio</a>
      </nav>
    </div>
  </div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Pagina de Inicio :D</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>


<!-- Contenido -->

{% block content %}{% endblock %}

<!-- Contenido -->
</main>
  <footer class="blog-footer">
    <p>Todos los derechos reservados<a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/jsuproc">@jsuproc</a>.</p>
    <p>
      <a href="#">Ir arriba</a>
    </p>
  </footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
